
<div id="main" class="container-fluid">

	<div id="top" class="row">
		<div class="col-md-3">
			<h2>Instituições</h2>
		</div>
		
		<div class="col-md-6">
			<div class="input-group h2">
				 <input name="data[search]" class="form-control" id="search" type="text" placeholder="Pesquisar Instituições" ng-model="argumento">
	            <span class="input-group-btn">
	                <button class="btn btn-primary" ng-click="lista()"> 
	                    <span class="glyphicon glyphicon-search"></span>
	                </button>
	            </span>
			</div>
		</div>
		<div class="col-md-3">
	    		<a href="#!/instituicoes/add" class="btn btn-primary pull-right h2">Nova Instituição</a>
	  	</div>
	</div>

	<div id="list" class="row">
		<div class="table-responsive col-md-12">
			<table class="table table-striped" cellspacing="0" cellpading="0">
				<thead>
					<tr>
						<th>Id</th>
						<th>Nome</th>
						<th class="actions">Ações</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat ="instituicao in instituicoes" ng-click="seleciona(instituicao.id)">
						<td>{{instituicao.id}}</td>
						<td>{{instituicao.nome}}</td>
						<td class="actions"> 
							<a class="btn btn-success btn-xs" href="view.html">
								<span class="glyphicon glyphicon-zoom-in"></span>
							</a> 
							<a class="btn btn-warning btn-xs" href="#!/instituicoes/{{instituicao.id}}">
								<span class="glyphicon glyphicon-pencil"></span>
							</a> 
							
	 					<!-- 	<a class="btn btn-danger btn-xs" href="#" data-toggle="modal" data-target="#delete-modal"> 
								<span class="glyphicon glyphicon-trash"></span>
							</a> -->
							<button class="btn btn-danger btn-xs btn_exclui" ng-click="exibe()">
								<span class="glyphicon glyphicon-trash"></span>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div id="bottom" class="row">
		<div class="col-md-12">
			<ul class="pagination">
			<!-- <li class="disabled"><a>&lt; Anterior</a> </li>    -->
			<!-- <li class="disabled"><a>1</a></li>  -->
			<!-- <li><a href="#" ng-click="irPara(2)">2</a></li> -->
			<!-- <li><a href="#" ng-click="irPara(3)">3</a></li>  -->
			<!-- <li><a href="#" ng-click="irPara(0)">0</a></li>  -->
			<!-- <li><a href="#" ng-click="irPara(1)">1</a></li>  -->
				<l1><button ng-click="irPara(1)" class="botao_paginator active">1</button></l1>
				<l1><button ng-click="irPara(2)" class="botao_paginator">2</button></l1>
				<l1><button ng-click="irPara(3)" class="botao_paginator">3</button></l1>
			<!-- <li class="next"><a href="#" rel="next">Próximo &gt;</a></li>  -->
			</ul>	
		</div>  
	</div>
		<!-- Modal -->
	<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
	    <div class="modal-dialog" role="document">
	        <div class="modal-content">
	            <div class="modal-header">
	                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
	                <h4 class="modal-title" id="modalLabel">Excluir Instituição</h4>
	            </div>
	            <div class="modal-body">Deseja realmente excluir este item? </div>
	            <div class="modal-footer">
	                <button type="button" class="btn btn-primary" ng-click="deleta()" data-dismiss="modal">Sim</button>
	                <button type="button" class="btn btn-default" data-dismiss="modal">N&atilde;o</button>
	            </div>
	        </div>
	    </div>
	</div>
	
</div>
